* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: #f1f1f1;
  }
  
  /* Estilo del header */
  .header {
    background-color: #f1f1f1;
    padding: 5px; /* ---valor anterior 20px */
    text-align: left;
  }

  /* Crea tres columnas desiguales que floten una al lado de la otra para la interfaz despues de la auntenticacion. */
  .column {
    float: left;
    padding: 5px;
    /* padding-top: 50px; */
  }
  
  /* Columna menu */
  .column.menu {
    width: 10%;
  }
  
  /* Columna formulario */
  .column.formulario {
    width: 20%;
  }

  /* Columna tabla */
  .column.vista {
    width: 70%;
  }

  /* Crea tres columnas desiguales que floten una al lado de la otra para la interfaz auntenticacion. */
  .column_login {
    float: left;
    padding-top: 10%;
    /* padding-top: 50px; */
  }
  
  /* Columna izquierda sin articulo. */
  .column_login.izq_login {
    width: 35%;
  }
  
  /* Columna formulario */
  .column_login.form_login {
    width: 30%;
  }

  .column_login.der_login {
    width: 35%;
  }
  
  /* Elimina los flotadores despues de las coulmnas */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  /* columna contenedor medio */
  /* .column_sub {
    float: left;
    padding: 10px;
    background-color: #f1f1f1;
  } */

  /* subcolumna izquierda contenedor medio */
  /* .column_sub.side {
    width: 30%;
  } */
  
  /* Subcolumna derecha contenedor medio */
  /* .column_sub.middle {
    width: 70%;
  } */
  
  /* Diseño adaptable: las tres columnas se apilan una encima de otra en lugar de una al lado de la otra. */
  @media screen and (max-width: 800px) {
    .column.menu, .column.formulario, .column.vista, .buscar-dato {
      width: 100%;
    }
  }

  /* Añade un efecto de tarjeta para los modulos. */
.card {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
  }

  .card_menu {
    background-color: #696969;
    padding: 10px;
    margin-top: 10px;
    color: #f1f1f1;
  }

  /* Definino la posicion del input, btn de la busqueda */
  .titulo-lista{
    display: inline-block;
  }
  .buscar-dato{
    display: inline-block;
    float: right;
  }
  .buscar-input{
    display: inline-block;
  }

  .buscar-btn{
    display: inline-block;
  }
  