/* Define la posicion del boton */
.btn_logout{
  float: right;
}
/* Boton Dropdown */
.dropbtn {
    background-color: #00BFFF;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* El container <div> - necesitado para posicionar el contenido del desplegable */
  .dropdown {
    padding-top: 8px;
    position: relative;
    display: inline-block;
    /* border-radius: 10px; */
  }
  
  /* Dropdown Content (Oculto por default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Define los enlaces dentro del Dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
  }
  
  /* Cambia el color de los enlaces dropdown al pasar el mouse por encima */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /*  Mostrar el menú dropdown al pasar el ratón por encima */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Cambiar el color de fondo del botón dropdown cuando se muestra el contenido dropdown. */
  .dropdown:hover .dropbtn {background-color: #00BFFF;}